- unless current_user
  = link_to "Sign up", new_user_registration_path
  = link_to "Sign in", new_user_session_path
- else
  = link_to "Log out", destroy_user_session_path
-# = map(:center => { :latlng => [@lat, @long], :zoom => 18 }, :markers => [ { :latlng => [51.52238797921441, -0.08366235665359283], :popup => "Hello!" } ])
#map
= link_to "Add business", "#", id: "biz"
= link_to "Add event", "#", id: "evt"
.hidden
  .new_biz
    = render "businesses/new"
  .new_evt
    = render "events/new"

%h2 Businesses
%ul
  -Business.all.each do |biz|
    %li=biz.name

%h2 Events
%ul
  -Event.all.each do |evt|
    %li=evt.name
