- unless story.visible
  - draft = true
- else
  - draft = false
%ul#linkbuttons{class: draft ? 'draft' : ''}
  .left
    = image_tag(story.graphics.first.upload.thumb.url) if story.graphics.present?
  .right
    %h3
      - if draft
        #{story.storybook} (DRAFT)
      - else
        =story.storybook
    = story.genre
    %br
    = story.place_name
    %br
    = story.city

  %li=link_to 'Read story', story_path(story)

