.images.tpborder
  %ul
    -Story.where('visible is true').map(&:graphic).last(4).each do |graphic|
      %li
        =image_tag(graphic.upload.thumb.url)
%ul#linkbuttons
  - Story.where('storybook is not null').where('visible is true').reverse.each do |story|
    %p.story
      .left
        = image_tag(story.graphics.first.upload.thumb.url) if story.graphics.present?
      .right
        = story.storybook
        %br
        = story.place_name
        %br
        = story.city

      %li= link_to 'Read story', story_path(story)
