%p
.genre
  %h2 Genre: #{@story.genre}
  %h2 Storybook: #{@story.storybook}
%p
.title
  %h2 Chapter Title: #{@story.place_name.try{|story| story.split(",").first}}
  - user = User.find(@story.user_id) if @story.user_id
  - if user
    %h2 by: #{link_to user, user}
#map-canvas
%p
#{@story.city}
.prevnext
  - if (stories = Story.published.where(storybook: @story.storybook).reject{|story|story.id == @story.id}).count > 1
    - if (left = stories.select { |story| story.id < @story.id }.last)
      .btn_green.hover
        = link_to "<", left
    - if (right = stories.select { |story| story.id > @story.id }.last)
      .btn_green.hover
        = link_to ">", right
  - elsif stories.count == 1
    .btn_green.hover
      = link_to ">", stories.first

- if @story.graphics.present?
  %p
  .images
    .header
      Story Photos
    %ul
      -@story.graphics.each do |graphic|
        %li
          =image_tag(graphic.upload.thumb.url)

%p
= simple_form_for [@story, @story.graphics.build] do |f|
  = f.input :story_id, as: :hidden,input_html: {value: @story.id}
  = f.input :upload
  = f.submit
%p
.taglist.images
  .header
    Hot Tags
  %table.tags.refresh
    - Tag::TAGS.in_groups_of(5).each do |group|
      %tr
      - group.compact.each do |tag|
        %td.hover{class: @story.tags.where(tag: tag.underscore).present? ? 'green' : 'gray'}
          - if current_user && @story.user_id == current_user.id
            = link_to tag, story_tag_path(@story, tag: tag.underscore), remote: true, class: 'togLink'
          - else
            = link_to tag, tags_path(tags: tag.underscore)
%p
.citytime
  %br
  =Array.wrap(@story.time1).try {|time1| time1.map(&:presence).try(:compact)}.try(:to_sentence)
  %br
  =Array.wrap(@story.time2).try {|time1| time1.map(&:presence).try(:compact)}.try(:to_sentence)
%p
%h2 Stands out
.adventure=@story.adventure
%p
%h2 The Neighborhood
.nifty=@story.nifty
%p
%h2 Word to the wise!
.wise=@story.wise
%p
%h2 Scribbles
.why=@story.why
%p
%h2 Would you take your mom?
.mom=Array.wrap(@story.mom).try {|mom| mom.map(&:presence).try(:compact)}.try(:to_sentence)
%p
- if current_user && @story.user_id == current_user.id
  .buttons
    =link_to "Edit story", edit_story_path(@story), class: 'button'
    - if @story.visible == nil || @story.visible == false
      =link_to "Publish story", story_publish_path(@story), class: 'button'
%p
