.genre
  %h2 Genre: #{@story.genre}
  %h2 Storybook: #{@story.storybook}
.prevnext
  - if (stories = Story.where('visible is true').where(storybook: @story.storybook).reject{|story|story.id ==@story.id}).count > 1
    = link_to "Previous", stories.select { |story| story.id < @story.id }.last
    = link_to "Next", stories.select { |story| story.id > @story.id }.first
  - elsif stories.count == 1
    = link_to "Next", stories.select { |story| story.id > @story.id }.first
.images
  .header
    Story Photos
  - if @story.graphics.present?
    %ul
      -@story.graphics.each do |graphic|
        %li
          =image_tag(graphic.upload.thumb.url)

= simple_form_for [@story, @story.graphics.build] do |f|
  = f.input :story_id, as: :hidden,input_html: {value: @story.id}
  = f.input :upload
  = f.submit

.taglist.images
  .header
    Hot Tags
  %table.tags.refresh
    - Tag::TAGS.in_groups_of(8).each do |group|
      %tr
      - group.compact.each do |tag|
        %td{class: @story.tags.where(tag: tag.underscore).present? ? 'green' : 'gray'}
          = link_to tag, story_tag_path(@story, tag: tag.underscore)
.title
  %h2 Chapter Title: #{@story.place_name}
.citytime
  #{@story.city}
  %br
  =Array.wrap(@story.time1).try {|time1| time1.map(&:presence).try(:compact)}.try(:to_sentence)
  %br
  =Array.wrap(@story.time2).try {|time1| time1.map(&:presence).try(:compact)}.try(:to_sentence)
%h2 Why did you go?
.why=@story.why
%h2 What adventure did you choose?
.adventure=@story.adventure
%h2 What's the nifty or thrifty of it?
.nifty=@story.nifty
%h2 Word to the wise!
.wise=@story.wise
%h2 Would you take your mom?
.mom=Array.wrap(@story.mom).try {|mom| mom.map(&:presence).try(:compact)}.try(:to_sentence)
- if current_user && @story.user_id == current_user.id
  .buttons
    =link_to "Edit story", edit_story_path(@story), class: 'button'
    =link_to "Publish story", story_publish_path(@story), class: 'button'
