%span.simplemodal-close
  =link_to 'Close', '/'
%h1=@place.name

%table.tags.topbar
  %tr
    %td
      %h2 Gustr
    - Tag::TAGS.each do |tag|
      %td{class: @place.tags.send(tag.underscore).present? ? 'green' : 'gray'}
        = link_to tag, place_tag_path(@place, tag: tag.underscore)
        .count
          #{@place.tags.send(tag.underscore).count}
%hr
%span.address=@place.address
.yelp
  = image_tag(@place.star_rating)

%hr
%hr

%strong What do you think? Is this place:
%table.tags
  %tr
    - Tag::TAGS.each do |tag|
      %td{class: @place.tagged_by(@ip, tag.underscore) ? 'green' : 'gray'}
        = link_to tag, place_tag_path(@place, tag: tag.underscore)

-@place.tags.each do |tag|
  .tag
    %ul
      - if tag.user
        %li
          - if tag.user.image_url
            = image_tag tag.user.image_url
          = tag.user.name
      %li=tag.tag
      %li=tag.created_at.strftime('%m %d %Y')

-# - if @place.graphics.present?
  -# %ul
    -# -@place.graphics.each do |graphic|
      -# %li
        -# =image_tag(graphic.upload.thumb.url)

-# = simple_form_for [@place, @place.graphics.build] do |f|
  -# = f.input :place_id, as: :hidden,input_html: {value: @place.id}
  -# = f.input :upload
  -# = f.submit
