%h1=@place.name
%h4 Locally sourced: #{@place.tags.local.count}
%h4 Grass-fed: #{@place.tags.grassfed.count}
%h4 Organic: #{@place.tags.organic.count}
%h4 Homemade: #{@place.tags.homemade.count}

%h2 This place is:
%h3= link_to "Locally sourced", place_tag_path(@place, tag: 'local')
%h3= link_to "Grass-fed", place_tag_path(@place, tag: 'grassfed')
%h3= link_to "Organic", place_tag_path(@place, tag: 'organic')
%h3= link_to "Homemade", place_tag_path(@place, tag: 'homemade')

- if @place.graphics.present?
  %ul
    -@place.graphics.each do |graphic|
      %li
        =image_tag(graphic.upload.thumb.url)

= simple_form_for [@place, @place.graphics.build] do |f|
  = f.input :place_id, as: :hidden,input_html: {value: @place.id}
  = f.input :upload
  = f.submit
