!!!
%html
  %head
    %title Gustr
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ1M9CIeCufVkulo1zYFtJ-xZsYJD81sM&sensor=true&libraries=geometry,places"
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    = javascript_include_tag :modernizr
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
  %table#topbar{cellpadding: 0, cellspacing: 0}
    %td#left
      %table{cellpadding: 0, cellspacing: 0, margin: 0, padding: 0}
        %tr
          - unless current_user
            = link_to image_tag('signin.jpg'), new_user_session_path
        %tr
          - unless current_user
            = link_to image_tag('register.jpg'), new_user_registration_path
          - else
            = image_tag current_user.image_url
            %span=link_to "Log out", destroy_user_session_path
    %td#logo.hover
      = link_to "", '/'
    %td#icon.hover
      = link_to "", search_path
    %td#stories.hover
      = link_to "", stories_path
    %td#addstory.hover
      = link_to "", new_story_path
  #content
    = yield
