!!!
%html
  %head
    %title Gustr
    = stylesheet_link_tag    "application", media: "all"
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    = javascript_include_tag :modernizr
    = javascript_include_tag "application"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    = csrf_meta_tags
  %h1
    Gustr
  %body
  #content
    = yield
  .footer
    %span
      = link_to "About", "/about"
    %span
      = link_to "Terms of Service", '/tos'
    %span
      = link_to "Privacy Policy", '/privacy'
